body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  background-color: #faf7fd;
}

.perfil {
  width: 200px;
  border-radius: 100%;
  border: 2px solid #bb99dd;
  padding: 5px;
  margin: 30px 0;
}

.insta-perfil {
  color: #bb99dd;
  text-decoration: none;
}

.insta-perfil:hover {
  font-weight: 600;
}

.links {
  color: #bb99dd;
  border: 2px solid #bb99dd;
  padding: 10px 120px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
}

.links:hover {
  color: #faf7fd;
  background-color: #bb99dd;
}

.insta-redes {
  padding: 0 10px;
  text-decoration: none;
}

.insta-redes img:hover {
  transform: scaleX(1.4) scaleY(1.4);
}
